.env
/log
.idea/

#wp-core
/wp-app/wp-admin
/wp-app/wp-includes
/wp-app/.htaccess
/wp-app/readme.html
/wp-app/index.php
/wp-app/wp-activate.php
/wp-app/wp-blog-header.php
/wp-app/wp-comments-post.php
/wp-app/wp-config-docker.php
/wp-app/wp-config-sample.php
/wp-app/wp-config.php
/wp-app/wp-cron.php
/wp-app/wp-links-opml.php
/wp-app/wp-load.php
/wp-app/wp-login.php
/wp-app/wp-mail.php
/wp-app/wp-settings.php
/wp-app/wp-signup.php
/wp-app/wp-trackback.php
/wp-app/xmlrpc.php
/wp-app/license.txt

#wp-plugin
/wp-app/wp-content/plugins/akismet
/wp-app/wp-content/plugins/hello.php

#wp-themes
/wp-app/wp-content/themes/twentytwenty
/wp-app/wp-content/themes/twentytwentyone
/wp-app/wp-content/themes/twentytwentytwo

#dd-data
#/wp-data/mysql
/wp-data/*
!/wp-data/db_wordpress
